.diagonal {
  --skew-angle: -5deg;
  --background: linear-gradient(45deg, var(--c1, #12c2e9), var(--c2, #c471ed) 51%, var(--c1, #f64f59)) var(--x, 0)/ 100%;
  position: relative;
  isolation: isolate;
  padding: 10px;
  padding-top: 30px;
  border-radius: 30px;
}

.diagonal::after {
  content: "";
  background: var(--background);
  position: absolute;
  z-index: -1;
  inset: 0;
  transform: skewY(var(--skew-angle));
  border-radius: 30px;
  transition: 5s;
}

.diagonal:hover {
  /*--x: 100%;*/
  /*animation: gradient 5s ease infinite;*/
}

@keyframes gradient {
	0% {
    --x: 0%;
	}
	50% {
    --x: 100%;
	}
	100% {
    --x: 0%;
	}
}

.diagonal2 {
  --skew-angle: -5deg;
  --background: linear-gradient(45deg, #FDBB2D, #22C1C3);
  position: relative;
  isolation: isolate;
  padding: 10px;
  padding-top: 10px;
  margin-top: 20px;
}

.diagonal2::after {
  content: "";
  background: var(--background);
  position: absolute;
  z-index: -1;
  inset: 0;
  transform: skewY(var(--skew-angle));
  border-radius: 30px;
}
